doctype 5
html
  head
    title ToPel-#{title}
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    link(href="css/bootstrap.min.css",rel="stylesheet",media="screen")
    script(src="js/jquery.js")
    script(src="js/bootstrap.js")
    script(src="js/main.js",type="text/javascript")
    block head
  body
    div.navbar
      div.container
        div.navbar-inner
          a.brand(href="/") ToPel
          ul.nav
            li
              a#nav_createIssue(href="#") Create an Issue
      div#modal_createIssue.modal.fade.hide(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
        div.modal-header
          h3 Create an issue
        div.modal-body
          label Issue
          input#issueName(type="text",placeholder="Your topic")
          label Options
          table#optionList.table.table-hover
          button.btn#addOption Add an option
        div.modal-footer
          button.btn(data-dismiss="modal",aria-hidden="true") Close
          button.btn.btn-primary#btn_Done(data-loading-text="Loading...") Done

      div.container
        div.span12
          block body